<launch>

<rosparam file="$(find leg_description)/launch/controller.yaml" command="load"/>

<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="
            joint_group_position_controller
            ">
</node>

<!-- <node name="robot_state_publisher" output="screen" pkg="robot_state_publisher" respawn="false" type="robot_state_publisher">
  <remap from="/joint_states" to="/leg/joint_states"/>
</node> -->

</launch>