<?xml version="1.0" ?>
<robot name="leg_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">
<xacro:include filename="$(find leg_description)/urdf/leg.gazebo" />
<xacro:include filename="$(find leg_description)/urdf/leg.xacro" />

<link name="base_link">
  <inertial>
    <origin rpy="0 0 0" xyz="0 0 -0.065"/>
    <mass value="5.0"/>
    <!-- <inertia  ixx="0.7048333333333332" ixy="0" ixz="0" iyy="2.604833333333333" iyz="0" izz="3.3083333333333327" /> -->
    <inertia  ixx="0.1762083333333333" ixy="0" ixz="0" iyy="0.6512083333333333" iyz="0" izz="0.8270833333333332" />
  </inertial>
  <visual>
    <origin rpy="0 0 0" xyz="0 0 -0.065"/>
    <geometry>
      <mesh filename="package://leg_description/meshes/body_base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </visual>
  <collision>
    <origin rpy="0 0 0" xyz="0 0 -0.065"/>
    <geometry>
      <mesh filename="package://leg_description/meshes/body_base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>



<xacro:property name="pi" value="3.1415926" />


<xacro:leg side="r" num="1" x="0.5" y="-0.19" z="0.022"	angle="-${pi/2}" joint_effort="500" joint_velocity="3.14"/>
<xacro:leg side="r" num="2" x="0.0" y="-0.19" z="0.022"	angle="-${pi/2}" joint_effort="500" joint_velocity="3.14"/>
<xacro:leg side="r" num="3" x="-0.5" y="-0.19" z="0.022" angle="-${pi/2}" joint_effort="500" joint_velocity="3.14"/>

<xacro:leg side="l" num="1" x="0.5" y="0.19" z="0.022"	angle="${pi/2}" joint_effort="500" joint_velocity="3.14"/>
<xacro:leg side="l" num="2" x="0.0" y="0.19" z="0.022"	angle="${pi/2}" joint_effort="500" joint_velocity="3.14"/>
<xacro:leg side="l" num="3" x="-0.5" y="0.19" z="0.022" angle="${pi/2}" joint_effort="500" joint_velocity="3.14" />


</robot>
